body {
	margin: auto 0;
}

.App {
  text-align: center;
}

#tableDiv {
	margin-left: 4%;
	margin-right: 4%;
}

.main-nav {
	display: flex;
	flex-direction: row-reverse;
	list-style: none;
	font-size: 0.7em;
	margin: 0;
}

li{
	padding: 20px;
}

a{
	color: #f5f5f6;
	text-decoration: none;
}



.navClass {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}


